@import "tailwindcss";
@import "tw-animate-css";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-menu {
    position: absolute;
    width: 30rem;
    z-index: 50;
    padding: 1.25rem 2.5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 9999px;
    top: 1.75rem;
    left: 50%;
    transform: translateX(40%);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    box-shadow: inset -6 -2 6px rgba(255, 255, 255, 0.1), inset 4 2 6px rgba(255, 255, 255, 0.2);
    
}

@keyframes liquidEffect {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}
